<div class="container">
  <header>
    <img src="" alt="" class="main" />
    <img src="" alt="" class="left" />
    <img src="" alt="" class="right" />
  </header>
  <nav>
    <button type="button" name="button">Button</button>
    <button type="button" name="button">Button</button>
    <button type="button" name="button">Button</button>
    <button type="button" name="button">Button</button>
    <button type="button" name="button">Button</button>
  </nav>
  <section id="callouts">
    <img src="" alt="first" />
    <img src="" alt="second" />
    <img src="" alt="third" />
  </section>
</div>
