$light-gray:              #a7a7a8 !default;
$dark-gray:               #5e5e5e;
$black:                   #333333;
$lavender:                #9296a8;
$white:                   #ffffff;
$light-lavender:          #e8eaeb;
$off-white:               #f5f5f5;
$med-lavender:            #dfdfef;
$navy-blue:               #343952;
$count:                         6;
$gap:                         0px;

.container {
  width: 960px;
  padding-left: 0px;
  padding-right: 0px;
}

header {
  background-color: $black;
  margin-bottom: 20px;
    img {
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: $light-gray;
    }
    .main {
      height: 130px;
      width: 300px;
      margin-left: 40px;
      margin-right: 260px;
    }
    .left, .right {
      height: 130px;
      width: 140px;
    }
    .left {
      margin-right: 20px;
    }
}

nav {
  background-color: $dark-gray;
  margin-bottom: 20px;
  button {
    border-radius: 5px;
    background-color: $white;
    margin: 10px;
    border: solid #000000 1px;
    height: 40px;
    width: 120px;
  }
  button:first-child {
    margin-left: 131px;
  }
  button:last-child {
    margin-right: 131px;
  }
}

#callouts {
  margin-bottom: 20px;
  img {
    background: $lavender;
    width: 300px;
    height: 300px;
  }
  img:first-child {
    margin-right: 26px;
  }
  img:last-child {
    margin-left: 26px;
  }
}
table {
  width: 100%;
  border: 1px solid $med-lavender;
  margin-bottom: 20px;
  th, td {
    width: 33%;
    text-align: center;
    border: 1px solid $med-lavender;

  }
  th {
    background-color: $light-lavender;
  }
  tr {
    height: 50px;
  }
  tr:nth-child(even) {
    background-color: $white;
  }
  tr:nth-child(odd) {
    background-color: $off-white;
  }
}
#images {
  width: 100%;
  height: 400px;
  background-color: $navy-blue;
  .grid {
    -webkit-column-count: $count;
    -moz-column-count: $count;
    column-count: $count;
    -webkit-column-gap: $gap;
    -moz-column-gap: $gap;
    column-gap: $gap;
  }
  .image {
    display: inline-block;
    margin: 0px;
    vertical-align: top;
  }
}
